body{
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

#inputData{
    background-color: blanchedalmond;
    width: 500px;
    text-align: center;
    height: 30px;
    border-radius: 25px;
    border-style: groove;

}
button{
    background-color: bisque;
    width: 150px;
    margin-top: 25px;
    height: 30px;
    border-radius: 15px;
    border-style: inset;
}
table{
    margin-top: 50px;
    width: 500px;
    align-content: center;
}
tbody button{
    /* background-color: ; */
    width: auto;
    height: auto;
}
thead{
    font-size: 20px;
}
td{
    text-align: center;
}

