*{
    background-color: burlywood;
}

.body{
    box-sizing: border-box;
}

.container{
    display: flex;
    margin-top: 150px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#inputText{
    width: 350px;
    border-radius: 25px;
    height: 40px;
    text-align: center;
    font-size: 15px;
    background-color: blanchedalmond;
}
button{
    border: 1px solid black;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: blanchedalmond;
}
button:hover{
    box-shadow: 5px 5px rgb(207, 141, 55);
    background-color: beige;
}
.output{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

table th,tr{
    border: 2px solid white;
    gap: 10%;
}
img{
    width: 200px;
}
