.container{
    height: 100vh;
    display: flex;
    flex-direction: row;
    /* gap: 10px; */
    flex-wrap: wrap;
}

@keyframes myanimation {
    0%{
        left: 200px;
        top: 120px;
        background-color: rgb(206, 197, 77);
    }
    50%{
        left: 500px;
        background-color: rgb(153, 110, 45);
    }
    75%{
        left: 300px;
        background-color: rgb(109, 84, 38);
    }
    100%{
        left: 100px;
        background-color: rgb(185, 177, 61);
    }
}
.box{
    display: flex;
    border: 1px solid yellowgreen;
    backface-visibility: hidden;
    /* padding: 10px; */
    height: 100px;
    position: absolute;
    background-color: aqua;
    width: 20vh;
    border-radius: 10px;
    box-shadow: 10px 10px 20px burlywood;
    justify-content: center;
    align-items: center;
    animation-name: myanimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    
}
.box1{
    display: flex;
    border: 1px solid yellowgreen;
    backface-visibility: hidden;
    /* padding: 10px; */
    height: 100px;
    position: absolute;
    background-color: aqua;
    width: 20vh;
    border-radius: 10px;
    box-shadow: 10px 10px 20px burlywood;
    justify-content: center;
    align-items: center;
    animation-name: myanimation;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}
   

.box:hover{
    border-radius: 10px;
    box-shadow: 10px 10px 20px black;
    transform: translate(20px, 20px);
    text-transform: capitalize;
   /* filter: blur(12px); */
    
}
