*{
    margin: 0;
    padding: 0;
    background-color: aquamarine;
}
.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: black;
}

header{
    background-color: rgb(89, 162, 226);
    flex : 1;
    font-size: 25px;
    text-align: center;
    border-radius: 15px;
}

main{
    display: flex;
    flex: 15;    
    background-color: antiquewhite;
}
aside{
    background-color: aqua;
    flex :0 0 20%;
    font-size: 20px;
    /* justify-content: center; */
    text-align: center;
    border-radius: 15px;
}
section{
    background-color: bisque;
    flex:1;
    font-size: 20px;
    /* justify-content: center; */
    text-align: center;
    color: rgb(17, 16, 13);
    border-radius: 15px;
}

footer{
    background-color: blueviolet;
    text-align: center;
    font-size: 25px;
    flex: 1;
    border-radius: 15px;
}

@media only screen and (max-width:600px) {
    .container{
        flex-direction: column;
    }
    main{
        flex-direction: column;
    }
}

