@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:ital,wght@1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-col: hsl(322, 100%, 66%);
  --pale-col: hsl(193, 100%, 96%);
  --pale-dark-col: hsl(192, 100%, 9%);
  --garyish-blue-col: hsl(208, 11%, 55%);
  --box-shadow:0 0 10px rgba(0,0,0,0.15);
  font-size: 18px;
}
body {
  font-family: "Open Sans", sans-serif;
  color: var(--pale-dark-col);
}
h1,
h2 {
  font-family: "Poppins", sans-serif;
}
.container {
    max-width: 100%;
    width: 80vw;
    margin: 0 auto;
    padding: 0 18px;
}
.center{
  text-align: center;
}
img{
    max-width: 100%;
}
p{
  opacity: 0.6;
  padding: 20px 0;
}
.btn{
    padding: 15px 60px;
    background-color: white;
    border-radius: 50px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    font-weight: 700;
}
.btn-primary{
  background-color: var(--primary-col);
  color: white;
  
}
header{
    background: var(--pale-col) url("./images/bg-hero-desktop.svg") center;
    background-size: cover;
    padding: 38px 0;
}
.header-img{
  width: 80%;
  margin-left: 15%;
 
}
header .btn-primary{
  margin-top: 30px;
}

.flex .first-left{
  flex: 0 0 40%;
  justify-content: center;
  align-items: center;
}
.flex .first-right{
  flex: 1;
}
.flex{
    display: flex;
    align-items: center;
}
.align-start{
  align-items: flex-start;
}
.flex > div,.flex > ul{
  flex:1;
}
header .first-left h1{
  margin-bottom: 15px;
}

nav{
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;   
}
.box{
  background-color: white;
  border-radius: 15px;
  box-shadow: var(--box-shadow);
  margin: 40px 0;
  padding: 50px;
}
.box img {
  width: 80%;
}
.mid-box{
  display: inline-block;
  position: relative;
  margin-bottom: -50%;
  z-index: 1;

}
.mid-box button{
  margin-top: 30px;
}
footer{
  background-color: var(--pale-dark-col);
  color: white;
  padding: 180px 0 60px;
  z-index: -1;
}

.footer-logo{
 
  margin-bottom: 30px;
}
footer ul {
  list-style-type: none;
}
footer .box3{
  width: 50px;
}
footer ul li{
  margin-bottom: 20px;
  font-size: 13px;
}
footer .circle-icon{
  border: 1px solid white;
  border-radius:  50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  height: 30px;
  width: 30px;
}
.text{
  list-style: none;
}
footer p{
  text-align: right;
  font-size: 11px;
}

footer .social-media{
  display: flex;
 align-items: center;
 justify-content: center;
 }
 footer li img{
   padding: 0 20px;
 }
 
/*  */
.location {
  padding-right: 20px;
}
.location-flex-icon {
  display: inline-block;
}
.location-flex-text {
  display: inline-block;
}

/*  */


@media screen and (max-width:600px) {
  body{
    text-align: center;
  }
  .container{
    width: 90vw;
  }
  .container nav{
    width: 85vw;
  }
  h1{
    font-size: 25px;
  }
  h2{
    font-size: 22px;
  }
  p{
    font-size: 14px;
  }
  nav.flex{
    flex-direction: row;
  }
  nav img{
    max-width: 40%;
  }

  .flex{
    flex-direction: column;
  }
  .box p {
    padding: 25px 0;
  }
  .box-reverse{
    flex-direction: column-reverse;
  }
  .btn{
  
    padding: 10px 25px;
   
    margin-top: 0px;
  
    font-size: 14px;
   
}
  
  footer ul{
    width: 100%;
    padding: 10px;
  }
  .social-media{
    width: 100%;
  }
  footer p{
    text-align: center;
    padding-top: 50px;
  }

  .header-img{
    margin-top: 40px;
    margin-left: 0;
    width: 100%;
  }
}